<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f.mvc.mapper.PaymentCallbackMapper">
  <resultMap id="BaseResultMap" type="com.f.mvc.entity.PaymentCallback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="process_type" jdbcType="INTEGER" property="processType" />
    <result column="success_response" jdbcType="VARCHAR" property="successResponse" />
    <result column="error_response" jdbcType="VARCHAR" property="errorResponse" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>